.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: 0;
  border: 0;
  border: 1px solid rgba(17, 34, 51, 0.337);
}
.form-control {
  border: 1px solid rgba(17, 34, 51, 0.337);
}

.form-control::placeholder {
  text-transform: capitalize;
  font-weight: 600;
  color: #18181880;
}
.text-draggable {
  cursor: move;
}

.color-title,
.text-transform,
.text-value,h6 {
  padding: 0.375rem 0.75rem;
}

small {
  padding-left: 0.75rem;
}
